<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

<!-- About me -->
<div class="aboutMe">
	<table style="border: 1px solid black;" height="50px">
		<tr>
			<td>Placeholder <i>About me</i></td>
		</tr>
	</table>
</div>
<div class="education">
	<table>
		<tr>
			<td>
				<div class="hovereffect">
					<img id="logo_kth" class="schoolLogo" src="../img/Kth_logo.svg" width="30%"/>
					<div class="schoolDescription">
						<h3>MSc. <br/> Interactive Media Technology</h3>
						<i>Computer Graphics and Visualization</i>
						<br/>
						<span>KTH Royal Institute of Technology</span>
					</div>
    			</div>
			</td>
			<td>
				<div class="hovereffect">
					<img id="logo_polymtl" class="schoolLogo" src="../img/Polymtl_Logo.svg" width="30%"/>
					<div class="schoolDescription">
						<h3>BEng. <br/> Software Engineering</h3>
						<i>Multimedia</i>
						<br/>
						<span>Ecole Polytechnique de Montreal</span>
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>
<div class="skills">
	<table style="border: 1px solid black;" height="50px">
		<tr>
			<td>Placeholder <i>Technical skills</i></td>
		</tr>
	</table>
</div>

<!-- Contact -->
<div class="contact">
	<ul>
		<li><a href="mailto:lemaikhanh.lmk@gmail.com">@</a></li>
		<li><a href="https://www.linkedin.com/in/lemaikhanh"><img src="../img/In-Black-128px-R.png" width="40"/></a></li>
		<li><a href="https://github.com/lemaiky"><img src="../img/GitHub-Mark-120px-plus.png" width="40"/></a></li>
	</ul>
</div>