<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<div class="aboutMe">
	<h2>Mai-Khanh Lê</h2>
	<table style="border: 1px solid black;">
		<tr>
			<td>About me</td>
		</tr>
	</table>
</div>
<br/>
<div class="education">
	<h3>MSc. in Interactive Media Technology</h3>
	<i>Computer Graphics and Visualization track</i>
	<br/>KTH Royal Institute of Technology
	<h3>BEng. in Software Engineering</h3>
	<i>Multimedia track</i>
	<br/>Ecole Polytechnique de Montreal
</div>
<br/><br/>
<div class="skills">
	<table style="border: 1px solid black;">
		<tr>
			<td>Technical skills</td>
		</tr>
	</table>
</div>