extends layout

block content
	div#education
		h2 MSc. in Interactive Media Technology
		p
			a(href='https://www.kth.se/en') KTH Royal Institute of Technology
		p 2016 - 2018
		h2 BEng. in Software Engineering
		p.italic Multimedia track
		p 
			a(href='https://www.polymtl.ca') Ecole Polytechnique de Montreal
		p 2011 - 2016
		h2 High School Diploma in Science
		p.italic Scientific track
		p 
			a(href='https://lycee-berthelot.fr/') Lycée Marcelin Berthelot
		p 2008 - 2011