extends mainpagelayout

block introduction
	p 4850 chemin Queen-Mary, #104
	p Montréal, QC, H3W 1W9
	p CANADA

block cellule1
	h1 Language Skills
	p French
	p English
	p Vietnamese
	p Chinese Mandarin
	p Spanish
	p Korean

block cellule2
	h1 Education
	p Ecole Polytechnique de Montreal
	p Lycée Marcelin Berthelot

block cellule3
	h1 Computer Skills
	h2 Programmation
	p Java, C/C++, C#, ...
	h2 Libraries
	p Qt, WPF, OpenGL, Android SDK, Java Swing, Hibernate
	h2 IDE
	p Visual Studio, Eclipse, Unity3D, Android Studio
	h2 Operating Systems
	p Windows, Linus, Mac OS
	h2 Database
	p PostgreSQL, MySQL, OracleSQL
	h2 Microsoft Office
	p Word, Excel, Powerpoint, Outlook

block cellule4
	h1 Technical Skills

block cellule5
	h1 Projects and Experiences

block cellule6
	h1 Leisures

block sidebar
	.widget
		h1 Contact informations
		p 514-649-5504
		p lemaikhanh.lmk@gmail.com
		p linkedin
		p facebook