doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/parallaxImg.js")
    script.
      $(document).on("ready", function() {
        var parallaxSettings = {
          initialOpacity: 1,
          opacitySpeed: 0.1,
          pageLoader: true
        };
        parallaxImgScroll(parallaxSettings);
      });
  body
    header
      nav
        ul
          li
            a(href='/') About
          li
            a(href='/work') Work
          li
            a(href='/contact') Contact
    .container
      .main-content
        section
          article.parallax-img-comtainer
            include about.html
        hr
        section
          article.parallax-img-comtainer
            include projectsTemp.html
        hr
      .sidebar
        .widget
          include contact.html
    footer
      p Running on node with Express and Jade