doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      div#nav
        ul
          li
            a(href='/') About
          li
            a(href='/projects') Projects
          li
            a(href='/contact') Contact
    .container
      .main-content
        include about.html
        hr
        block contentProjects
        block contentContact
      .sidebar
        .widget
          h1 Contact informations
          p 
            a(href='mailto:lemaikhanh.lmk@gmail.com') lemaikhanh.lmk@gmail.com
          p
            a(href='https://www.linkedin.com/in/lemaikhanh') linkedin
          p
            a(href='https://github.com/lemaiky') Github
          p
            a(href='https://bitbucket.org/lemaiky/') Bitbucket
    footer
      p Running on node with Express and Jade