doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Mai-Khanh LÊ
      .introduction
        h2 Software Engineer
        h2 Master Student in Interactive Media Technology
    .container
      div#nav
        ul
          li 
            if(currentURL == '/')
              a(href='/').current Main
            else
              a(href='/') Main
          li 
            if(currentURL == '/resume')
              a(href='/resume').current Resume
            else
              a(href='/resume') Resume
          li
            if(currentURL == '/projects')
              a(href='/projects').current Projects
            else
              a(href='/projects') Projects
      .main-content
        block content
      .sidebar
        .widget
          h1 Contact informations
          p 
            a(href='mailto:lemaikhanh.lmk@gmail.com') lemaikhanh.lmk@gmail.com
          p
            a(href='https://www.linkedin.com/in/lemaikhanh') linkedin
          p
            a(href='https://github.com/lemaiky') Github
          p
            a(href='https://bitbucket.org/lemaiky/') Bitbucket
    footer
      p Running on node with Express and Jade