<!doctype html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
    <title>Mai-Khanh Portfolio</title>
    <link rel="stylesheet" href="../stylesheets/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/styleScroll.css"> <!-- Resource style -->
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
    <script src="../javascripts/modernizr.js"></script> <!-- Modernizr -->
  </head>
  <body data-hijacking="off" data-animation="parallax">
    <!-- Header - navigation bar-->
  	<header>
      <nav>
        <ul>
          <li><a href='../index.html'>About</a></li>
          <li><a href='projects.html'>Work</a></li>
        </ul>
      </nav>
    </header>

    <!-- Projects list -->
    <div class="mainContent">
      <section class="cd-section visible">
    		<div>
    			<iframe src="projects/kth_cat.html"></iframe>
    		</div>
    	</section>
      <section class="cd-section">
    		<div>
    			<iframe src="projects/kth_infovis.html"></iframe>
    		</div>
    	</section>
    	<section class="cd-section">
    		<div>
          <iframe src="projects/kth_multimodal.html"></iframe>
    		</div>
    	</section>
      <section class="cd-section">
    		<div>
          <iframe src="projects/kth_iprogd.html"></iframe>
    		</div>
    	</section>
      <section class="cd-section">
        <div>
    			<iframe src="projects/polymtl_busbud.html"></iframe>
    		</div>
    	</section>
    	<section class="cd-section">
    		<div>
    			<iframe src="projects/polymtl_robot.html"></iframe>
    		</div>
    	</section>
    </div>

    <!-- Navigation arrows -->
    <nav>
      <ul class="cd-vertical-nav">
        <li><a href="#0" class="cd-prev inactive">Next</a></li>
        <li><a href="#0" class="cd-next">Prev</a></li>
      </ul>
    </nav>

    <script src="../javascripts/jquery-2.1.4.js"></script>
    <script src="../javascripts/velocity.min.js"></script>
    <script src="../javascripts/velocity.ui.min.js"></script>
    <script src="../javascripts/main.js"></script> <!-- Resource jQuery -->
  </body>
</html>
