extends layout

block content
	table
		tr
			td
				h1 Work experiences and Projects
				h2 4th year Software Engineering Project - Busbud project
				p Developing a mobile application for Android and an API for the client Busbud
				ul
					li Code writing in Javascript
					li React-Native for mobile application on Android
					li Node.js for the server API
					li Data structure, database, user interfaces, project management, software development process
					li Team work (6 persons)
				h2 3rd year Software Engineering Project - Evolution of Software
				p Enhancing the user experience of a project and adding an online gaming component
				ul
					li Code writing in C++ and C#
					li Code writing in Objective-C for the iPad application
					li Enabling chat and online multiplayer mode
					li Data structure and algorithms, user interfaces, object-oriented programming, project management
					li Team work (6 persons)
				h2 2nd year Software Engineering Project - Interactive Graphic Software
				p Developing an asteroid-like videogame editor using 3D graphics
				ul
					li Code writing in C++ and Java (using JNI)
					li Creating the 3D models on Blender
					li Data structure and algorithms, artificial intelligence, user interfaces, object-oriented programming, project management
					li Team work (5 persons)
				h2 1st year Software Engineering Project - Initial project in Software and Computer Engineering
				p Building a robot on a PCB equipped with sensors that has to follow a path and execute given moves.
				ul
					li Code writing for cross-compiling in C++ on Linux
					li Development cycle of a product
					li Team work (4 persons)