<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<div class="projects">
	<table>
		<tr>
			<th col-span="">Master projects</th>
		</tr>
		<tr>
			<td>
				<table style="border: 1px solid black;">
					<tr>
						<td>Placeholder <i>Projects</i></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<th>
				Bachelor projects
			</th>
		</tr>
		<tr>
			<td>
				<h2>4th year Software Engineering Project - Busbud project</h2>
				<p>Developing a mobile application for Android and an API for the client Busbud</p>
				<ul>
					<li>Code writing in Javascript</li>
					<li>React-Native for mobile application on Android</li>
					<li>Node.js for the server API</li>
					<li>Data structure, database, user interfaces, project management, software development process</li>
					<li>Team work (6 persons)</li>
				</ul>
			</td>
			<td>
				<h2>3rd year Software Engineering Project - Evolution of Software</h2>
				<p>Enhancing the user experience of a project and adding an online gaming component</p>
				<ul>
					<li>Code writing in C++ and C#</li>
					<li>Code writing in Objective-C for the iPad application</li>
					<li>Enabling chat and online multiplayer mode</li>
					<li>Data structure and algorithms, user interfaces, object-oriented programming, project management</li>
					<li>Team work (6 persons)</li>
				</ul>
			</td>
			<td>
				<h2>2nd year Software Engineering Project - Interactive Graphic Software</h2>
				<p>Developing an asteroid-like videogame editor using 3D graphics</p>
				<ul>
					<li>Code writing in C++ and Java (using JNI)</li>
					<li>Creating the 3D models on Blender</li>
					<li>Data structure and algorithms, artificial intelligence, user interfaces, object-oriented programming, project management</li>
					<li>Team work (5 persons)</li>
				</ul>
			</td>
			<td>
				<h2>1st year Software Engineering Project - Initial project in Software and Computer Engineering</h2>
				<p>Building a robot on a PCB equipped with sensors that has to follow a path and execute given moves.</p>
				<ul>
					<li>Code writing for cross-compiling in C++ on Linux</li>
					<li>Development cycle of a product</li>
					<li>Team work (4 persons)</li>
				</ul>
			</td>
		</tr>
	</table>
</div>