<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

<div class="projects">
	<h2>Projects</h2>
	<table id="projects">
		<tr id="projects">
			<td id="projects">Placeholder <i>Projects</i></td>
			<td id="projects">Placeholder <i>Projects</i></td>
			<td id="projects">Placeholder <i>Projects</i></td>
			<td id="projects">Placeholder <i>Projects</i></td>
		</tr>
		<tr id="projects">
			<td id="projects">Placeholder <i>Projects</i></td>
			<td id="projects">Placeholder <i>Projects</i></td>
			<td id="projects">Placeholder <i>Projects</i></td>
			<td id="projects">Placeholder <i>Projects</i></td>
		</tr>
	</table>
</div>