extends layout

block content
  table
    tr
      td
        h1 Language Skills
        table
          tr(id="language")
            td(id="language")
              h2 French
            td(id="language")
              p Native
          tr(id="language")
            td(id="language")
              h2 English
            td(id="language")
              p Advanced
          tr(id="language")
            td(id="language")
              h2 Vietnamese
            td(id="language")
              p Spoken only
          tr(id="language")
            td(id="language")
              h2 Chinese Mandarin
            td(id="language")
              p Beginner
          tr(id="language")
            td(id="language")
              h2 Korean
            td(id="language")
              p Beginner
    tr
      td
        h1 Computer Skills
        h2 Programmation
        p Java, C/C++, C#, Javascript, Python, HTML/CSS, Matlab, XML
        h2 Libraries
        p Qt, WPF, OpenGL, Android SDK, Java Swing
        h2 IDE
        p Visual Studio, Eclipse, Unity3D, Android Studio
        h2 Operating Systems
        p Windows, Linus, Mac OS
        h2 Database
        p PostgreSQL, MySQL, OracleSQL
        h2 Microsoft Office
        p Word, Excel, Powerpoint, Outlook
      td
        h1 Work experiences
        h2 Java Developer Junior
        p Desjardins (Montréal, Canada)
        ul  
          li Code writing in Java on Eclipse (Windows environment)
          li Quality Assurance (test-cases, UX tests)
          li Agile team (daily scrum, weekly )
        h2 Intern Java Developer
        p Desjardins (Montréal, Canada)
        ul
          li Code writing in Java on Eclipse (Windows environment)
          li Developing a CSV files editing tool
          li Quality Assurance (performances)
        h2 Intern Developer
        p DataWings (Saint-Maur-des-Fossés, France)
        ul
          li Code writing in Java on Eclipse (Windows environment)
          li Working on a CMS project (Jahia)
          li Developing a portlet

    tr
      td(colspan="2")
        h1 Leisures
        h2 Student comity member
        p Polycultures - 2011-2013 (secretary for 1 year)
        h2 Music
        p Piano, Guitar, Ballet
        h2 Travels
        p France, Canada, USA, Spain, Vietnam, Thailand, Cambodia, England, Belgium, Singapore, Sweden
      

block sidebar
  .widget
    h1 Contact informations
    p telephone
    p 
      a(href='mailto:lemaikhanh.lmk@gmail.com') lemaikhanh.lmk@gmail.com
    p 
      a(href='mailto:le5@kth.se') le5@kth.se
    p
      a(href='mailto:mai-khanh.le@polymtl.ca') mai-khanh.le@polymtl.ca
    p
      a(href='https://www.linkedin.com/in/lemaikhanh') linkedin