/************************************************
 * jumbotron: #e9ecef;
 * fonts: Alegreya Sans SC, Fjalla One, Marvel, Muli, Oswald, PT Sans Narrow, Poppins, Saira Condensed, Wire One
 *
 ************************************************/
@import url('https://fonts.googleapis.com/css?family=Quicksand|Alegreya+Sans+SC|Fjalla+One|Marvel|Muli|Oswald|PT+Sans+Narrow|Poppins|Saira+Condensed|Wire+One');

body {
  line-height: 1;
  font-size: 18px;
  font-family: 'Marvel';
  background-color: rgb(233, 236, 239);
}
.navbar {
  background-color: #172437 !important;
}
.logo_link {
  font-size: 28px;
}
.logo {
  filter: invert(100%);
}
.logo:hover {
  filter: invert(50%);
}
.nav-item {
  padding-left: 7%;
  padding-right: 7%;
}
.nav-item a {
  cursor: pointer;
  color: #fff;
}
.nav-item a:hover {
  text-decoration: none;
  color: #a2a3b7;
}
.jumbotron {
  padding-top: 200px;
  padding-bottom: 200px;
}

/************************************************
 *
 * ABOUT SECTION
 *
 ************************************************/
#name {
  font-size: 60px;
  font-weight: 600;
  font-family: 'Oswald';
  color: #172437;
  padding: 1%;
}
table#education {
  width: 100%;
  margin-top: 5%;
}
table#education td {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 50%;
 }
.hovereffect {
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.schoolDescription {
  height: 100%;
  width: 100%;
  padding-top: 8%;
  padding-left: 10%;
}
.hovereffect .schoolDescription {
  position: absolute;
  overflow: hidden;
  background-color: #e9ecef;
  top: -200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.1s ease-out 0.3s;
  transition: all 0.1s ease-out 0.3s;
}
.hovereffect:hover .schoolDescription{
  opacity: .8;
  filter: alpha(opacity=100);
  top: 0px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.hovereffect img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  display: block;
  position: relative;
  margin-left: 40%;
}
.schoolDescription h3 {
  color: #000;
  position: relative;
  font-size: 20px;
  font-weight: bold;
}
.schoolDescription i{
  color: #000;
  position: relative;
  font-size: 15px;
}
.schoolDescription span{
  color: #000;
  position: relative;
  font-size: 15px;
}

/************************************************
 *
 * SKILLS SECTION
 *
 ************************************************/
.node {
  cursor: pointer;
}
.node text {
  font-size: 16px;
  stroke: #172437;
}
.node--leaf {
  fill: #172437;
}
.link {
  fill: none;
  stroke: #aaa;
  stroke-width: 1px;
}
#programming {
  width: 50%;
}
#otherskills {
  width: 50%;
}
#skills {
  display: flex;
}
/************************************************
 *
 * PROJECT SECTION
 *
 ************************************************/
 div.video{
   width: 100%;
   height: 70%;
   background-color: rgba(0, 0, 0, 0.2);
   position: fixed;
   margin: 100px auto;
   padding: 0;
   left: 0;
   display: block;
 }
 .table_desc {
   /* lateral navigation */
   width: 40%;
   height: auto;
   position: fixed;
   z-index: 1;
   right: 5%;
   top: 20%;
 }
.project_desc li {
  padding: none;
  font-size: 16px;
}
.project_desc li h1 {
  font-size: 20px;
  font-weight: bold;
}
