/************************************************
 * jumbotron: #e9ecef;
 * fonts: Alegreya Sans SC, Fjalla One, Marvel, Muli, Oswald, PT Sans Narrow, Poppins, Saira Condensed, Wire One
 *
 ************************************************/
@import url('https://fonts.googleapis.com/css?family=Quicksand|Alegreya+Sans+SC|Fjalla+One|Marvel|Muli|Oswald|PT+Sans+Narrow|Poppins|Saira+Condensed|Wire+One');

body {
  line-height: 1;
  font-size: 100%;
  font-family: 'Marvel';
  background-color: rgb(233, 236, 239);
}
a {
  color: #748EAA;
}
.navbar {
  background-color: #16385B !important;
}
.logo_link {
  font-size: 28px;
}
.logo {
  filter: invert(100%);
  width: 30px;
}
.logo:hover {
  filter: invert(0%);
}
.nav-item {
  padding-left: 7%;
  padding-right: 7%;
}
.nav-item a {
  cursor: pointer;
  color: #fff;
}
.nav-item a:hover {
  text-decoration: none;
  color: #000;
}
#about .jumbotron {
  padding-top: 15%;
  padding-bottom: 25%;
}
.jumbotron#projects {
  padding-bottom: 15%;
}
/************************************************
 *
 * ABOUT SECTION
 *
 ************************************************/
#name {
  font-size: 350%;
  font-weight: 600;
  font-family: 'Oswald';
  color: #16385B;
  padding: 1%;
}

/************************************************
 *
 * SKILLS SECTION
 *
 ************************************************/
.node {
  cursor: pointer;
}
.node text {
  font-size: 90%;
  stroke: #16385B;
}
.node--leaf {
  fill: #16385B;
}
.link {
  fill: none;
  stroke: #aaa;
  stroke-width: .5%;
}
#programming {
  width: 50%;
}
#otherskills {
  width: 50%;
}
#skills {
  display: flex;
}

/************************************************
 *
 * PROJECT SECTION
 *
 ************************************************/
.hovereffect {
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  width: 343px;
  height: 218px;
  margin: 2% .5% 2% .5%;
}
.schoolDescription {
  height: 100%;
  width: 100%;
  padding-top: 5%;
  font-size: 120%;
}
.schoolDescription div {
  padding: 1%;
}
.hovereffect .schoolDescription {
  position: absolute;
  overflow: hidden;
  color: #fff;
  background-color: #16385B;
  top: -200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.1s ease-out 0.3s;
  transition: all 0.1s ease-out 0.3s;
}
.hovereffect:hover .schoolDescription{
  opacity: .95;
  filter: alpha(opacity=100);
  top: 0px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.hovereffect img {
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
  display: inline;
  position: relative;
  height: 100%;
}
.schoolDescription span{
  color: yellow;
  position: relative;
  font-size: 90%;
  padding: 3%;
}
.projectRow {
  display: inline-flex;
}
.schoolRow .hovereffect {
  cursor: pointer;
}
.schoolRow .hovereffect img {
  width: auto;
  height: 100%;
  display: inline;
}