/************************************************
 * jumbotron: #e9ecef;
 * fonts: Alegreya Sans SC, Fjalla One, Marvel, Muli, Oswald, PT Sans Narrow, Poppins, Saira Condensed, Wire One
 *
 ************************************************/
@import url('https://fonts.googleapis.com/css?family=Quicksand|Alegreya+Sans+SC|Fjalla+One|Marvel|Muli|Oswald|PT+Sans+Narrow|Poppins|Saira+Condensed|Wire+One');

body {
  line-height: 1;
  font-size: 100%;
  font-family: 'Marvel';
  background-color: rgb(233, 236, 239);
  color: #16385B;
}
a {
  color: #16385B;
}
a:hover {
  text-decoration: none;
  color: #F5CB5C;
}
.container {
  margin-left: 2%;
}
.navbar {
  background-color: #16385B !important;
}
.contact {
  display: flex;
}
.logo_link {
  font-size: 200%;
}
.logo {
  filter: invert(100%);
  width: 30px;
}
.nav-item a {
  cursor: pointer;
  color: #fff;
}
.nav-item a:hover {
  text-decoration: none;
}

.main-container {
  width: 100%;
  height: 100%;
}
.left_bar {
  position:absolute;
  width: 20%;
  height: 100%;
}
.right_bar {
  position:absolute;
  width: 80%;
  height: 100%;
  right:0;
}
#perso_img {
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
  height: auto;
  width: 70%;
  margin: 5% 15%;
  border-radius: 10%;
}
.presentation {
  text-align: center;
}
.presentation span {
  font-size: 32px;
}
a.diploma_title {
  font-size: 18px;
  font-weight: bold;
}
.education {
  margin-top: 5%;
}
.education li {
  padding-top: 3%;
}
.education ul {
  padding-inline-start: 30px;
}


/*
 *  EDUCATION VIZ
 */
.education {
  margin-top: 5%;
}
.axis--y .tick line {
  stroke: #16385B;
}
.axis--y .tick text {
  fill: #16385B;
}
path {
  stroke: #16385B;
}
.node {
  transition: transform .2s;
}
.nodeLine {
  stroke: #16385B;
  stroke-width: 10px;
}
.nodeText {
  stroke: #F5CB5C;
  font-size: 14px;
}



.hovereffect {
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  width: 343px;
  height: 218px;
  margin: 2% .5% 2% .5%;
}
.schoolDescription {
  height: 100%;
  width: 100%;
  padding-top: 5%;
  font-size: 120%;
}
.schoolDescription div {
  padding: 1%;
}
.hovereffect .schoolDescription {
  position: absolute;
  overflow: hidden;
  color: #fff;
  background-color: #16385B;
  top: -200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.1s ease-out 0.3s;
  transition: all 0.1s ease-out 0.3s;
}
.hovereffect:hover .schoolDescription{
  opacity: .95;
  filter: alpha(opacity=100);
  top: 0px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.hovereffect img {
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
  display: inline;
  position: relative;
  height: 100%;
  max-width: 100%;
  border-radius: 10%;
}
.schoolDescription span{
  color: yellow;
  position: relative;
  font-size: 90%;
  padding: 3%;
}