<link rel="stylesheet" href="../../stylesheets/style.css">
<link rel="stylesheet" href="../../stylesheets/styleScroll.css"> <!-- Resource style -->

<div class="video">
	<iframe src="https://player.vimeo.com/video/211194972" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div class="table_desc">
  <ul class="project_desc">
    <li><h1>Cohort Analysis Tool</h1></li>
    <li><i>Data Visualization, UX, Front-end Development, Research</i></li>
    <li>Languages: HTML/CSS, Javascript</li>
    <li>Tools: D3.js</li>
    <li>Team project: 8 members</li>
    <li><a href="https://raghunayyar.github.io/savingprivatenuts/">Link to project</a></li>
  </ul>
</div>

<style>
	iframe {
		width: 640;
		height: 360;
		margin: 30px auto;
		display: block;
		position: fixed;
		left: 5%;
	}
</style>
