<link rel="stylesheet" href="../../stylesheets/style.css">
<link rel="stylesheet" href="../../stylesheets/styleScroll.css"> <!-- Resource style -->

<div class="video">
	<img src="../../img/project_iprogd.png"></img>
</div>
<div class="table_desc">
  <ul class="project_desc">
    <li><h1>Online Music Quiz</h1></li>
    <li><i>Create your own quiz and play</i></li>
    <li>Languages: HTML/CSS, Javascript</li>
    <li>Tools: AngularJS, Spotify API, Firebase</li>
		<li>Team project: 4 members</li>
  </ul>
</div>

<style>
	img {
		height: 360;
		width: auto;
		margin: 50px auto;
		display: block;
		position: fixed;
		left: 5%;
	}
</style>
