<link rel="stylesheet" href="../../stylesheets/style.css">
<link rel="stylesheet" href="../../stylesheets/styleScroll.css"> <!-- Resource style -->

<div class="video">
	<img src="../../img/Icon_Busbud.png"></img>
</div>
<div class="table_desc">
  <ul class="project_desc">
    <li><h1>Busbud application</h1></li>
    <li><i>Android application and API development (in collaboration with <a href="https://www.busbud.com/">Busbud</a>)</i></li>
    <li>Languages: Javascript</li>
    <li>Tools: NodeJS, React-Native, PostgreSQL</li>
		<li>Team project: 6 members</li>
		<li><a href="https://busbud-poly-project.herokuapp.com/">API (examples)</a></li>
  </ul>
</div>

<style>
	img {
		height: 360;
		width: auto;
		margin: 50px auto;
		display: block;
		position: fixed;
		left: 10%;
	}
</style>
