<link rel="stylesheet" href="../../stylesheets/style.css">
<link rel="stylesheet" href="../../stylesheets/styleScroll.css"> <!-- Resource style -->

<div class="video">
	<video width="320" height="240" controls>
		<source src="../../img/project_robot.mp4" type="video/mp4">
		Your browser does not support the video tag.
		<script>
			var video = document.currentScript.parentElement;
			video.volume = 0.1;
		</script>
	</video>
</div>
<div class="table_desc">
  <ul class="project_desc">
    <li><h1>Building a Robot equipped with a PCB</h1></li>
    <li><i>Course tracking, robot detection, IR signal</i></li>
    <li>Languages: C++</li>
		<li>Team project: 4 members</li>
  </ul>
</div>

<style>
	video {
		width: 640;
		height: 360;
		margin: 50px auto;
		display: block;
		position: fixed;
		left: 5%;
	}
</style>
